@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Shabnam', sans-serif;
  direction: rtl;
}
/* Shabnam Font Faces */
@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/Shabnam.woff2') format('woff2'),
       url('/fonts/Shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/Shabnam-Bold.woff2') format('woff2'),
       url('/fonts/Shabnam-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/Shabnam-Light.woff2') format('woff2'),
       url('/fonts/Shabnam-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@keyframes slideIn {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}

